* {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin: auto;
  padding: auto;
}

td {
  border: 1px solid black;
  text-align: center;
}
img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  padding: 5px;
}
label {
  padding: 15px;
}
.table {
  border: 2px solid black;
  table-layout: fixed;
}
.col-md-4 {
  border-block: 2px solid black;
  padding: 10px;
}
.form-group {
  width: 400px;
  height: 40px;
  background-color: blueviolet;
  padding: 10px;
}
